POSTGRES_DB=example-name
POSTGRES_USER=example-user
POSTGRES_PASSWORD=example-password

SPRING_SECURITY_USER=user
SPRING_SECURITY_PASSWORD=password

APP_SECURITY_KEY=this-is-a-security-key-that-needs-to-be-replaced-in-production
APP_ACCESS_KEY_EXPIRY=900000